
body {
	padding: 15px;
	background-color: #453D3A;
}
#menu {
	width: 25%;
	height: 600px;
	background-color: #8F847A;
	float: left;
}

#blok1 {
	width: 75%;
	min-height: 600px;
	background-color: #ffffff;
	float: left;
}
