
body {
	padding: 15px;
	background-color: #363637;
}
#menu {
	width: 25%;
	height: 600px;
	background-color: #A4A4A4;
	float: left;
}

#blok1 {
	width: 75%;
	min-height: 600px;
	background-color: #ffffff;
	float: left;
}
