div#suggestion_form {
	font-family: arial;
	border:2px solid #ddebfa; 
	padding: 15px 25px 15px 15px; 
	width: 300px;
	height: 250px;
	margin:0 auto;
	-webkit-box-shadow: 5px 5px 30px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 30px -5px rgba(0,0,0,0.75);
    box-shadow: 5px 5px 30px -5px rgba(0,0,0,0.75);
    border-radius: 10px; 
 }	
 .common-input {
 	width:100%;
	border:1px solid #c0c0c0;
	border-radius: 5px;
	padding: 5px;
 }
 .common-input.submit {
 	width: auto;
 	border:1px solid;
	background-color:#008CBA;
	color: #ffffff;
	padding: 12px;
	float: right;
 }
 h1 {
 	font-size: 23px;

 }